/vendor/
/config/config.php
/storage/*.sqlite
/storage/*.sqlite-journal
PRDv01.md

.env
.idea/
.vscode/
Sync_logic.txt
deploy.bat
UpdatingSite.md
*.log
/public/plugin-update/manifest.json
/public/plugin-update/.last-packaged-version
/public/plugin-update/*.zip
/public/plugin-packages/*.zip

/dist/
sync.ffs_db
